xml/Manutencao_Cobranca_Bancaria_Boleto_Externo0.xsd

<?xml version="1.0" encoding="UTF-8"?><!--File Manutencao_Cobranca_Bancaria_Boleto.xsd, application BAR_MANUTENCAO_COBRANCA_BANCARIA--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://caixa.gov.br/sibar/manutencao_cobranca_bancaria/boleto" xmlns:Q1="http://caixa.gov.br/sibar/manutencao_cobranca_bancaria/boleto/externo" xmlns:manutencaocobrancabancaria="http://caixa.gov.br/sibar/manutencao_cobranca_bancaria/boleto" xmlns:sibar_base="http://caixa.gov.br/sibar">

    <xsd:import namespace="http://caixa.gov.br/sibar/manutencao_cobranca_bancaria/boleto/externo" schemaLocation="https://des.barramento.caixa.gov.br/sibar/ManutencaoCobrancaBancaria/Boleto?xsd=xsd1"/>
    <xsd:import namespace="http://caixa.gov.br/sibar" schemaLocation="https://des.barramento.caixa.gov.br/sibar/ManutencaoCobrancaBancaria/Boleto?xsd=xsd2"/>

    <xsd:element name="SERVICO_ENTRADA" type="manutencaocobrancabancaria:SERVICO_ENTRADA_NEGOCIAL_TYPE"/>

    <xsd:complexType name="SERVICO_ENTRADA_NEGOCIAL_TYPE">
        <xsd:complexContent>
            <xsd:extension base="sibar_base:SERVICO_ENTRADA_TYPE">
                <xsd:sequence>
                    <xsd:element name="DADOS" type="manutencaocobrancabancaria:DADOS_ENTRADA_TYPE"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="DADOS_ENTRADA_TYPE">
        <xsd:sequence>
        	<xsd:choice>
        		<xsd:element name="INCLUI_SOLICITACAO_PRE_IMPRESSO" type="manutencaocobrancabancaria:INCLUI_SOLICITACAO_PRE_IMPRESSO_TYPE"/>
        		<xsd:element name="ALTERA_SOLICITACAO_PRE_IMPRESSO" type="manutencaocobrancabancaria:ALTERA_SOLICITACAO_PRE_IMPRESSO_TYPE"/>
        		<xsd:element name="EXCLUI_SOLICITACAO_PRE_IMPRESSO" type="manutencaocobrancabancaria:EXCLUI_SOLICITACAO_PRE_IMPRESSO_TYPE"/>
        		<xsd:element name="INCLUI_SOLICITACAO_GRUPO_PAGADOR" type="manutencaocobrancabancaria:INCLUI_ALTERA_SOLICITACAO_GRUPO_PAGADOR_TYPE"/>
        		<xsd:element name="ALTERA_SOLICITACAO_GRUPO_PAGADOR" type="manutencaocobrancabancaria:INCLUI_ALTERA_SOLICITACAO_GRUPO_PAGADOR_TYPE"/>
        		<xsd:element name="EXCLUI_SOLICITACAO_GRUPO_PAGADOR" type="manutencaocobrancabancaria:EXCLUI_SOLICITACAO_GRUPO_PAGADOR_TYPE"/>
        		<xsd:element name="INCLUI_BOLETO" type="manutencaocobrancabancaria:INCLUI_BOLETO_ENTRADA_TYPE">
        		</xsd:element>
        		<xsd:element name="ALTERA_BOLETO" type="manutencaocobrancabancaria:ALTERA_BOLETO_ENTRADA_TYPE">
        		</xsd:element>
        		<xsd:element name="BAIXA_BOLETO" type="manutencaocobrancabancaria:BAIXA_BOLETO_ENTRADA_TYPE"/>
        	</xsd:choice>
        	
        </xsd:sequence>
    </xsd:complexType>

	<xsd:element name="SERVICO_SAIDA" type="manutencaocobrancabancaria:SERVICO_SAIDA_NEGOCIAL_TYPE"/>

	<xsd:complexType name="SERVICO_SAIDA_NEGOCIAL_TYPE">
		<xsd:complexContent>
			<xsd:extension base="sibar_base:SERVICO_SAIDA_TYPE">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="DADOS" type="manutencaocobrancabancaria:DADOS_SAIDA_TYPE"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DADOS_SAIDA_TYPE">
		<xsd:complexContent>
			<xsd:extension base="sibar_base:DADOS_SAIDA_TYPE">
                <xsd:choice>
                	<xsd:element minOccurs="0" name="COMPROVANTE" type="manutencaocobrancabancaria:COMPROVANTE_TYPE"/>
                	<xsd:element maxOccurs="1" minOccurs="0" name="INCLUI_BOLETO" type="manutencaocobrancabancaria:INCLUI_BOLETO_SAIDA_TYPE">
                	</xsd:element>
                	<xsd:element maxOccurs="1" minOccurs="0" name="ALTERA_BOLETO" type="manutencaocobrancabancaria:ALTERA_BOLETO_SAIDA_TYPE"/>
                </xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>




	<xsd:complexType name="INCLUI_SOLICITACAO_PRE_IMPRESSO_TYPE">
		<xsd:sequence>
			<xsd:element name="CODIGO_BENEFICIARIO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="999999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="NOSSO_NUMERO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="999999999999999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TIPO_ENTREGA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="QUANTIDADE_BLOQUETO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="999999999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TIPO_BLOQUETO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TIPO_COBRANCA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>




	<xsd:complexType name="ALTERA_SOLICITACAO_PRE_IMPRESSO_TYPE">
		<xsd:sequence>
			<xsd:element name="CODIGO_BENEFICIARIO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="999999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="1" name="NOSSO_NUMERO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="999999999999999999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TIPO_ENTREGA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="QUANTIDADE_BLOQUETO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="999999999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TIPO_BLOQUETO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TIPO_COBRANCA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	


	<xsd:complexType name="EXCLUI_SOLICITACAO_PRE_IMPRESSO_TYPE">
		<xsd:sequence>
			<xsd:element name="CODIGO_BENEFICIARIO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="999999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DATA_SOLICITACAO" type="xsd:date"/>
			<xsd:element name="TIPO_BLOQUETO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>




	<xsd:complexType name="INCLUI_ALTERA_SOLICITACAO_GRUPO_PAGADOR_TYPE">
		<xsd:sequence>
			<xsd:element name="CODIGO_BENEFICIARIO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="999999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CODIGO_GRUPO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DATA_SOLICITACAO" type="xsd:date"/>
			<xsd:element name="TIPO_REGISTRO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CODIGO_OBTER_ENVIO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TIPO_ENVIO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="99"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DATA_VENCIMENTO" type="xsd:date"/>
			<xsd:element name="CODIGO_OBTER_VALOR">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VALOR_TITULO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="9999999999999.99"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="INDICADOR_PROTESTO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PRAZO_PROTESTO_DEVOLUCAO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="9999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CODIGO_ESPECIE">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CODIGO_ACEITE">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CODIGO_ENDOSSO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="COMPLEMENTARES" type="manutencaocobrancabancaria:COMPLEMENTARES_TYPE"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="COMPLEMENTARES_TYPE">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="DESCONTOS" type="manutencaocobrancabancaria:DESCONTOS_TYPE"/>
			<xsd:element minOccurs="0" name="MULTA" type="manutencaocobrancabancaria:DESCONTO_MULTA_TYPE"/>
			<xsd:element minOccurs="0" name="JUROS" type="manutencaocobrancabancaria:JUROS_TYPE"/>
			<xsd:element minOccurs="0" name="IMPOSTOS" type="manutencaocobrancabancaria:IMPOSTOS_TYPE"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DESCONTOS_TYPE">
		<xsd:sequence>
			<xsd:element maxOccurs="3" name="DESCONTO" type="manutencaocobrancabancaria:DESCONTO_MULTA_TYPE"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DESCONTO_MULTA_TYPE">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="PERCENTUAL">
					<xsd:simpleType>
						<xsd:restriction base="xsd:decimal">
							<xsd:minInclusive value="0"/>
							<xsd:maxInclusive value="999.99"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="VALOR">
					<xsd:simpleType>
						<xsd:restriction base="xsd:decimal">
							<xsd:minInclusive value="0"/>
							<xsd:maxInclusive value="9999999999999.99"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>
			<xsd:choice>
				<xsd:element name="PRAZO">
					<xsd:simpleType>
						<xsd:restriction base="xsd:short">
							<xsd:minInclusive value="0"/>
							<xsd:maxInclusive value="999"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="DATA" type="xsd:date"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="JUROS_TYPE">
		<xsd:sequence>
			<xsd:element name="TIPO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PERCENTUAL">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="999.99"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="IMPOSTOS_TYPE">
		<xsd:sequence>
			<xsd:element name="VALOR_IOF">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="9999999999999.99"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>




	<xsd:complexType name="EXCLUI_SOLICITACAO_GRUPO_PAGADOR_TYPE">
		<xsd:sequence>
			<xsd:element name="CODIGO_BENEFICIARIO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="999999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CODIGO_GRUPO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DATA_SOLICITACAO" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>




	<xsd:complexType name="COMPROVANTE_TYPE">
		<xsd:sequence>
			<xsd:element name="DATA" type="xsd:date"/>
			<xsd:element name="HORA" type="xsd:time"/>
		</xsd:sequence>
	</xsd:complexType>



	<xsd:complexType name="INCLUI_BOLETO_ENTRADA_TYPE">
		<xsd:complexContent>
			<xsd:extension base="Q1:inclui_boleto_entrada_Type">

				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="FLAG_REGISTRO">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="S"/>
								<xsd:enumeration value="N"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="INCLUI_BOLETO_SAIDA_TYPE">
		<xsd:complexContent>
			<xsd:extension base="Q1:inclui_boleto_saida_Type"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ALTERA_BOLETO_ENTRADA_TYPE">
		<xsd:complexContent>
			<xsd:extension base="Q1:altera_boleto_entrada_Type">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="FLAG_REGISTRO">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="S"/>
								<xsd:enumeration value="N"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ALTERA_BOLETO_SAIDA_TYPE">
		<xsd:complexContent>
			<xsd:extension base="Q1:altera_boleto_saida_Type"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="BAIXA_BOLETO_ENTRADA_TYPE">
		<xsd:complexContent>
			<xsd:extension base="Q1:baixa_boleto_entrada_Type"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>